<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<title>X-Capital Analytics</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"><meta content="School of Data Science" name="keywords"><meta content="School of Data Science" name="description"><!-- Favicon -->
	<link href="xcapital/img/android-icon-36x36.png" rel="icon" /><!-- Google Web Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet" /><!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" /><!-- Libraries Stylesheet -->
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" /><!-- Customized Bootstrap Stylesheet -->
	<link href="xcapital/css/style.css" rel="stylesheet" />
</head>
<body><!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
<div class="row align-items-center py-4 px-xl-5">
<div class="col-lg-3"><a class="text-decoration-none" href=""> </a>
<h3 class="m-0"><a class="text-decoration-none" href=""><span class="text-primary">X-Capital</span> </a></h3>

<h4><a class="text-decoration-none" href="">Analytics</a></h4>
<a class="text-decoration-none" href=""> </a></div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Our Office</h6>
<small>Egerton, Njoro, Nakuru</small></div>
</div>
</div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Email Us</h6>
<small>info@xcapital.co.ke</small></div>
</div>
</div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Call Us</h6>
<small>+254 768 650814</small></div>
</div>
</div>
</div>
</div>
<!-- Topbar End --><!-- Navbar Start -->

<div class="container-fluid">
<div class="row border-top px-xl-5">
<div class="col-lg-3 d-none d-lg-block">
<h5 class="text-primary m-0"><a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none" data-toggle="collapse" href="#navbar-vertical" style="height: 67px; padding: 0 30px;">Subjects</a></h5>

<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 9;">
<div class="navbar-nav w-100">
<div class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#">Python </a>

<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"><a class="dropdown-item" href="">Intermediate</a> <a class="dropdown-item" href="">Advanced</a> <a class="dropdown-item" href="">Masterclass</a></div>
</div>

<div class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#">R Programming </a>

<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"><a class="dropdown-item" href="">Intermediate</a> <a class="dropdown-item" href="">Advanced</a> <a class="dropdown-item" href="">Masterclass</a></div>
</div>
<a class="nav-item nav-link" href="">Microsoft Excel</a> <a class="nav-item nav-link" href="">Microsoft Access</a> <a class="nav-item nav-link" href="">Power BI</a> <a class="nav-item nav-link" href="">STATA</a> <a class="nav-item nav-link" href="">SPSS</a> <a class="nav-item nav-link" href="">SQL</a> <a class="nav-item nav-link" href="">SAS</a></div>
</nav>
</div>

<div class="col-lg-9">
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"><a class="text-decoration-none d-block d-lg-none" href=""> </a>

<h3 class="m-0"><a class="text-decoration-none d-block d-lg-none" href=""><span class="text-primary">X-Capital</span> </a></h3>

<h4><a class="text-decoration-none d-block d-lg-none" href="">Analytics</a></h4>
<a class="text-decoration-none d-block d-lg-none" href=""> </a><button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button"></button>

<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
<div class="navbar-nav py-0"><a class="nav-item nav-link" href="/">Home</a> <a class="nav-item nav-link" href="/services">Services</a> <a class="nav-item nav-link active" href="/about">About Us</a> <a class="nav-item nav-link" href="/teacher">Tutors</a> <a class="nav-item nav-link" href="/blog">Blog</a> 
    <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/students_blogs" class="dropdown-item">Student Blogs</a>
                                    <a href="/login_blog" class="dropdown-item">Post a blog</a>
                                </div>
                            </div>
                             <a class="nav-item nav-link" href="/apply">Apply</a></div>
<a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/apply">Enroll Now</a></div>
</nav>
</div>
</div>
</div>
<!-- Navbar End --><!-- Header Start -->

<div class="container-fluid page-header" style="margin-bottom: 90px;">
<div class="container">
<div class="d-flex flex-column justify-content-center" style="min-height: 300px">
<h3 class="display-4 text-white text-uppercase">About Us</h3>

<div class="d-inline-flex text-white">
<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>

<p class="m-0 text-uppercase">About</p>
</div>
</div>
</div>
</div>
<!-- Header End --><!-- About Start -->

<div class="container-fluid py-5">
<div class="container py-5">
<div class="row align-items-center">
<div class="col-lg-5"><img alt="" class="img-fluid rounded mb-4 mb-lg-0" src="img/ourlogo.png" /></div>

<div class="col-lg-7">
<div class="text-left mb-4">
<h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; color: goldenrod;"><b>About Us</b></h5>

<h1 style="color: black;">Championing Data Technology in Africa</h1>
</div>

<p style="text-align: justify;">X-Capital Analytics is a Data Science Training and Research Institute dedicated to empowering people with data analytics, machine learning and artificial intelligence skills. Our Foundation pertains to guiding individuals and organizations in understanding and utilizing data for informed decision making by focusing on bridging theoritical knowledge with real world applications.</p>
<!-- <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>--></div>
</div>
<di class="container py-5"></di>

<div class="container-fluid py-5" style="background-color: black;">
<div class="text-center">
<h1 style="color: goldenrod;">Our Mission</h1>

<p style="text-align: justify; background-color: rgb(0, 0, 0); color: white;">Skilled handling of systems and the associated data with the highest levels of integrity, accuracy, reliability, verifiability, confidentiality, in line with the client&rsquo;s interests and preferences with an aim of formulating the best decision based on the found alternatives regarding; profit-margin increment, resource management and allocation, portfolio expansion, and project management.</p>

<h1 style="color:goldenrod;">Our Vision</h1>

<p style="text-align: justify; background-color: black; color: white;">X-Capital Analytics aspires to be a major player in the fourth industrial revolution, which already plays and will intensively and extensively influence the present day businesses and government operation models.</p>
</div>
</div>
</div>
</div>
<!-- About End --><!-- Timeline Start -->

<div class="timeline">
<div class="container">
<div class="section-header">
<h1 style="color: black; text-align: center;">X-Capital Analytics Core Values</h1>
</div>

<div class="container-fluit py-5"></div>

<div class="timeline-start">
<div class="timeline-container left">
<div class="timeline-content">
<h2><span><i>~Operations~</i></span>Integrity</h2>

<p style="text-align: justify;">We uphold the highest standards of honesty and transparency in all our interactions. Integrity is the foundation of trust, and we are committed to maintaining the trust placed in us by our clients, colleagues, and the community.</p>
</div>
</div>

<div class="timeline-container right">
<div class="timeline-content">
<h2><span><i>~Culture~ </i></span>Innovation</h2>

<p style="text-align: justify;">We embrace a culture of continuous learning and innovation, pushing the boundaries of what is possible in data analysis. Innovation is at the heart of our solutions, driving us to explore new methodologies and technologies to meet the evolving needs of our clients.</p>
</div>
</div>

<div class="timeline-container left">
<div class="timeline-content">
<h2><span><i>~Customers~ </i></span>Client-Centric Approach</h2>

<p style="text-align: justify;">Our clients are at the center of everything we do. We listen, understand, and tailor our solutions to address their unique challenges and objectives. Building lasting partnerships with our clients is not just a goal; it&#39;s a commitment that guides our every decision and action.</p>
</div>
</div>

<div class="timeline-container right">
<div class="timeline-content">
<h2><span><i>~Delivery~</i></span>Excellence</h2>

<p style="text-align: justify;">We are dedicated to delivering excellence in every project, setting the benchmark for quality and precision in data analysis. Excellence is not just a goal; it&#39;s our standard. We take pride in exceeding expectations and delivering results that make a lasting impact.</p>
</div>
</div>

<div class="timeline-container left">
<div class="timeline-content">
<h2><span><i>~Team~ </i></span>Collaboration</h2>

<p style="text-align: justify;">We value the power of collaboration and recognize that diverse perspectives fuel innovation. Through open communication and teamwork, we leverage the collective expertise of our team to solve complex problems and drive meaningful outcomes.</p>
</div>
</div>

<div class="timeline-container right">
<div class="timeline-content">
<h2><span><i>~Compliance~ </i></span>Ethical Data Handling</h2>

<p>We are committed to the responsible and ethical handling of data. Privacy, security, and compliance are non-negotiable aspects of our data analysis processes. Our dedication to ethical practices ensures that our clients can trust us with their most sensitive information.</p>
</div>
</div>
</div>
</div>
</div>
<!-- Timeline End --><!-- Registration Start -->

<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
<div class="container py-5">
<div class="row align-items-center">
<div class="col-lg-7 mb-5 mb-lg-0">
<div class="mb-4">
<h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>

<h1 class="text-white">5% Off For New Students</h1>
</div>

<p class="text-white" style="text-align: justify;">Are you ready to dive into the world of data and emerge as a sought-after data science professional? Our comprehensive Data Science Training Programs are open for enrollment!</p>

<ul class="list-inline text-white m-0">
	<li class="py-2">Expert-Led Curriculum.</li>
	<li class="py-2">Flexible Learning</li>
	<li class="py-2">Hands-On Projects.</li>
	<li class="py-2">Price Inclusive of Certification.</li>
</ul>
</div>

<div class="col-lg-5">
<div class="card border-0">
<div class="card-header bg-light text-center p-4">
<h1 class="m-0">Enroll Now!</h1>
</div>

<div class="card-body rounded-bottom bg-primary p-5">
<form>
<div class="form-group"><input class="form-control border-0 p-4" placeholder="Your name" required="required" type="text" /></div>

<div class="form-group"><input class="form-control border-0 p-4" placeholder="Your email" required="required" type="email" /></div>

<div class="form-group"><select class="custom-select border-0 px-4" style="height: 47px;"><option selected="selected">Select a course</option><option value="1">Python</option><option value="2">R Programming</option><option value="3">Microsoft Excel</option><option value="4">Microsoft Access</option><option value="5">STATA</option><option value="6">SPSS</option><option value="7">SAS</option><option value="8">SQL</option><option value="9">Power BI</option><option value="10">Matlab</option><option value="11">M &amp; E</option><option value="12">GoLang</option> </select></div>

<div><button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign Up Now</button></div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Registration End --><!-- Testimonial Start -->

<div class="container-fluid py-5">
<div class="container py-5">
<div class="text-center mb-5">
<h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>

<h1>What Our Students Say</h1>
</div>

<div class="row justify-content-center">
<div class="col-lg-8">
<div class="owl-carousel testimonial-carousel">
<div class="text-center">
<h5 class="font-weight-normal mb-4" style="text-align: justify;">As an animal science student I had alot of data collected from my projects and analysing them manually was so hectic, time consuming and I had a lot of errors.I enrolled for R programme with X-Capital and I had an amazing learning journey. I highly recommend X-Capital for quality teaching programs and professional training with examples related to ones&nbsp;field&nbsp;of&nbsp;work.</h5>
<img alt="" class="img-fluid mx-auto mb-3" src="img/avatar.jpg" />
<h5 class="m-0">Peter Otieno</h5>
<span>Egerton</span></div>
<!--
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4"></h4>
                            <img class="img-fluid mx-auto mb-3" src="img/testimonial-2.jpg" alt="">
                            <h5 class="m-0">Marriama Badjie</h5>
                            <span>Ghana</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                            <img class="img-fluid mx-auto mb-3" src="img/testimonial-3.jpg" alt="">
                            <h5 class="m-0">Essa Sey</h5>
                            <span>Gambia</span>
                        </div>--></div>
</div>
</div>
</div>
</div>
<!-- Testimonial End --><!-- Footer Start -->

<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
<div class="row pt-5">
<div class="col-lg-7 col-md-12">
<div class="row">
<div class="col-md-6 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>

<p>Egerton, Njoro, Nakuru</p>

<p>+254 768 650814</p>

<p>info@xcapital.co.ke</p>

<div class="d-flex justify-content-start mt-4"></div>
</div>

<div class="col-md-6 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Quick Links</h5>

<div class="d-flex flex-column justify-content-start"><a class="text-white mb-2" href="/services">Courses</a> <a class="text-white mb-2" href="/about">About Us</a> <a class="text-white mb-2" href="/teacher">Tutors</a> <a class="text-white mb-2" href="/blog">Our Blogs</a> <a class="text-white" href="/services">Services</a></div>
</div>
</div>
</div>

<div class="col-lg-5 col-md-12 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Subscribe to Our Newsletter</h5>

<p>Join our 150+ newsletter subscribers to get the latest in data science training, tips, and industry news straight to your inbox. Sign up now and transform data into decisions!</p>

<div class="w-100">
<div class="input-group"><input class="form-control border-light" placeholder="Your Email Address" style="padding: 30px;" type="text" />
<div class="input-group-append"><button class="btn btn-primary px-4">Sign Up</button></div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
<div class="row">
<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
<p class="m-0 text-white">&copy; <a href="XCAPITAL.CO.KE">X-Capital Analytics</a>. All Rights Reserved. Designed by <a href="Surveg.com">Surveg LLC.</a></p>
</div>

<div class="col-lg-6 text-center text-md-right">
<ul class="nav d-inline-flex">
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Privacy</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Terms</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">FAQs</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Help</a></li>
</ul>
</div>
</div>
</div>
<!-- Footer End --><!-- Back to Top --><!-- JavaScript Libraries --><script src="https://code.jquery.com/jquery-3.4.1.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script><script src="lib/easing/easing.min.js"></script><script src="lib/owlcarousel/owl.carousel.min.js"></script><!-- Contact Javascript File --><script src="mail/jqBootstrapValidation.min.js"></script><script src="mail/contact.js"></script><!-- Template Javascript --><script src="js/main.js"></script><script>
        // Plain JavaScript function to run when the document is ready
    document.addEventListener("DOMContentLoaded", function() {
    // Get the navbar by its ID
    var navbar = document.getElementById('navbar-vertical');

    // Get the initial top offset of the navbar
    var navbarOffsetTop = navbar.offsetTop;

    // Function to run when user scrolls
    window.onscroll = function() {
        // Check if the page has been scrolled down more than the navbar's initial position
        if (window.pageYOffset > navbarOffsetTop) {
            // If it has, hide the navbar
            navbar.style.display = 'none';
        } else {
            // If not, show the navbar
            navbar.style.display = '';
        }
    };
});

    </script></body>
</html>