<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<title>X-Capital Analytics</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"><meta content="School of Data Science" name="keywords"><meta content="School of Data Science" name="description"><!-- Favicon -->
	<link href="/xcapital/img/android-icon-36x36.png" rel="icon" /><!-- Google Web Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet" /><!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" /><!-- Libraries Stylesheet -->
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" /><!-- Customized Bootstrap Stylesheet -->
	<link href="/xcapital/css/style.css" rel="stylesheet" />
</head>
<body data-new-gr-c-s-loaded="14.1193.0"><!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
<div class="row align-items-center py-4 px-xl-5">
<div class="col-lg-3"><a class="text-decoration-none" href=""> </a>
<h3 class="m-0"><a class="text-decoration-none" href=""><span class="text-primary">X-Capital</span> </a></h3>

<h4><a class="text-decoration-none" href="">Analytics</a></h4>
<a class="text-decoration-none" href=""> </a></div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Our Office</h6>
<small>Egerton, Njoro, Nakuru</small></div>
</div>
</div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Email Us</h6>
<small>info@xcapital.co.ke</small></div>
</div>
</div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Call Us</h6>
<small>+254 768 650814</small></div>
</div>
</div>
</div>
</div>
<!-- Topbar End --><!-- Navbar Start -->

<div class="container-fluid">
<div class="row border-top px-xl-5">
<div class="col-lg-3 d-none d-lg-block">
<h5 class="text-primary m-0"><a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none" data-toggle="collapse" href="#navbar-vertical" style="height: 67px; padding: 0 30px;">Courses</a></h5>

<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 9;">
<div class="navbar-nav w-100">
<div class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#">Python </a>

<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"><a class="dropdown-item" href="">Intermediate</a> <a class="dropdown-item" href="">Advanced</a> <a class="dropdown-item" href="">Masterclass</a></div>
</div>

<div class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#">R Programming </a>

<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"><a class="dropdown-item" href="">Intermediate</a> <a class="dropdown-item" href="">Advanced</a> <a class="dropdown-item" href="">Masterclass</a></div>
</div>
<a class="nav-item nav-link" href="">Microsoft Excel</a> <a class="nav-item nav-link" href="">Microsoft Access</a> <a class="nav-item nav-link" href="">Power BI</a> <a class="nav-item nav-link" href="">STATA</a> <a class="nav-item nav-link" href="">SPSS</a> <a class="nav-item nav-link" href="">SQL</a> <a class="nav-item nav-link" href="">SAS</a></div>
</nav>
</div>

<div class="col-lg-9">
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"><a class="text-decoration-none d-block d-lg-none" href=""> </a>

<h3 class="m-0"><a class="text-decoration-none d-block d-lg-none" href=""><span class="text-primary">X-Capital</span> </a></h3>

<h4><a class="text-decoration-none d-block d-lg-none" href="">Analytics</a></h4>
<a class="text-decoration-none d-block d-lg-none" href=""> </a><button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button"></button>

<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
<div class="navbar-nav py-0"><a class="nav-item nav-link" href="/home">Home</a> <a class="nav-item nav-link" href="/services">Services</a> <a class="nav-item nav-link" href="/about">About Us</a> <a class="nav-item nav-link" href="/teacher">Tutors</a> <a class="nav-item nav-link" href="/blog">Blog</a> 
    <div class="nav-item dropdown">
                                <a href="/blog" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/blogone" class="dropdown-item">Students Blog</a>
                                    <a href="/login_blog" class="dropdown-item">Post a blog</a>
                                </div>
                            </div> <a class="nav-item nav-link active" href="/apply">Apply</a></div>
<a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/apply">Enroll Now</a></div>
</nav>
</div>
</div>
</div>
<!-- Navbar End --><!-- Header Start -->

<div class="container-fluid page-header" style="margin-bottom: 90px;">
<div class="container">
<div class="d-flex flex-column justify-content-center" style="min-height: 300px">
<h3 class="display-4 text-white text-uppercase">Apply</h3>

<div class="d-inline-flex text-white">
<p class="m-0 text-uppercase"><a class="text-white" href="/home">Home</a></p>

<p class="m-0 text-uppercase">&gt;&gt; Apply</p>
</div>
</div>
</div>
</div>
<!-- Header End -->

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Apply</h5>
            <h1>Submit your Application</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="contact-form bg-secondary rounded p-5">
                    <div id="success"></div>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdcLj_MWW_qbc29T5Z1b4UEtZgcOydmL1HeOCg85-Njw1z2DA/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Contact Start -->

<div class="container-fluid py-5">
<div class="container py-5">
<div class="text-center mb-5">
<h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Contact</h5>

<h1>Contact For Any Query</h1>
</div>

<div class="row justify-content-center">
<div class="col-lg-8">
<div class="contact-form bg-secondary rounded p-5">
<div id="success"></div>

<form id="contactForm" name="sentMessage" novalidate="novalidate">
<div class="control-group"><input class="form-control border-0 p-4" data-validation-required-message="Please enter your name" id="name" placeholder="Your Name" required="required" type="text" />
<p class="help-block text-danger"></p>
</div>

<div class="control-group"><input class="form-control border-0 p-4" data-validation-required-message="Please enter your email" id="email" placeholder="Your Email" required="required" type="email" />
<p class="help-block text-danger"></p>
</div>

<div class="control-group"><input class="form-control border-0 p-4" data-validation-required-message="Please enter a subject" id="subject" placeholder="Subject" required="required" type="text" />
<p class="help-block text-danger"></p>
</div>

<div class="control-group"><textarea class="form-control border-0 py-3 px-4" data-validation-required-message="Please enter your message" id="message" placeholder="Message" required="required" rows="5"></textarea>

<p class="help-block text-danger"></p>
</div>

<div class="text-center"><button class="btn btn-primary py-3 px-5" id="sendMessageButton" type="submit">Send Message</button></div>
</form>
</div>
</div>
</div>
</div>
</div>
<!-- Contact End --><!-- Footer Start -->

<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
<div class="row pt-5">
<div class="col-lg-7 col-md-12">
<div class="row">
<div class="col-md-6 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>

<p>Egerton, Njoro, Nakuru</p>

<p>+254 768 650814</p>

<p>info@xcapital.co.ke</p>

<div class="d-flex justify-content-start mt-4"></div>
</div>

<div class="col-md-6 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Quick Links</h5>

<div class="d-flex flex-column justify-content-start"><a class="text-white mb-2" href="/services">Courses</a> <a class="text-white mb-2" href="/about">About Us</a> <a class="text-white mb-2" href="/teacher">Tutors</a> <a class="text-white mb-2" href="/blog">Our Blogs</a> <a class="text-white" href="/services">Services</a></div>
</div>
</div>
</div>

<div class="col-lg-5 col-md-12 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Subscribe to Our Newsletter</h5>

<p>Join our 150+ newsletter subscribers to get the latest in data science training, tips, and industry news straight to your inbox. Sign up now and transform data into decisions!</p>

<div class="w-100">
<div class="input-group"><input class="form-control border-light" placeholder="Your Email Address" style="padding: 30px;" type="text" />
<div class="input-group-append"><button class="btn btn-primary px-4">Sign Up</button></div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
<div class="row">
<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
<p class="m-0 text-white">&copy; <a href="XCAPITAL.CO.KE">X-Capital Analytics</a>. All Rights Reserved. Designed by <a href="Surveg.com">Surveg LLC.</a></p>
</div>

<div class="col-lg-6 text-center text-md-right">
<ul class="nav d-inline-flex">
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Privacy</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Terms</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">FAQs</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Help</a></li>
</ul>
</div>
</div>
</div>
<!-- Footer End --><!-- Back to Top --><!-- JavaScript Libraries --><script src="https://code.jquery.com/jquery-3.4.1.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script><script src="lib/easing/easing.min.js"></script><script src="lib/owlcarousel/owl.carousel.min.js"></script><!-- Contact Javascript File --><script src="mail/jqBootstrapValidation.min.js"></script><script src="mail/contact.js"></script><!-- Template Javascript --><script src="js/main.js"></script><script>
        // Plain JavaScript function to run when the document is ready
    document.addEventListener("DOMContentLoaded", function() {
    // Get the navbar by its ID
    var navbar = document.getElementById('navbar-vertical');

    // Get the initial top offset of the navbar
    var navbarOffsetTop = navbar.offsetTop;

    // Function to run when user scrolls
    window.onscroll = function() {
        // Check if the page has been scrolled down more than the navbar's initial position
        if (window.pageYOffset > navbarOffsetTop) {
            // If it has, hide the navbar
            navbar.style.display = 'none';
        } else {
            // If not, show the navbar
            navbar.style.display = '';
        }
    };
});

    </script><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

<p></p>
</body>
</html>