<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<title>X-Capital Analytics</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"><meta content="School of Data Science" name="keywords"><meta content="School of Data Science" name="description"><!-- Favicon -->
	<link href="/xcapital/img/android-icon-36x36.png" rel="icon" /><!-- Google Web Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet" /><!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" /><!-- Libraries Stylesheet -->
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" /><!-- Customized Bootstrap Stylesheet -->
	<link href="/xcapital/css/style.css" rel="stylesheet" />
</head>
<body><!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
<div class="row align-items-center py-4 px-xl-5">
<div class="col-lg-3"><a class="text-decoration-none" href=""> </a>
<h3 class="m-0"><a class="text-decoration-none" href=""><span class="text-primary">X-Capital</span> </a></h3>

<h4><a class="text-decoration-none" href="">Analytics</a></h4>
<a class="text-decoration-none" href=""> </a></div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Our Office</h6>
<small>Egerton, Njoro, Nakuru</small></div>
</div>
</div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Email Us</h6>
<small>info@xcapital.co.ke</small></div>
</div>
</div>

<div class="col-lg-3 text-right">
<div class="d-inline-flex align-items-center">
<div class="text-left">
<h6 class="font-weight-semi-bold mb-1">Call Us</h6>
<small>+254 768 650814</small></div>
</div>
</div>
</div>
</div>
<!-- Topbar End --><!-- Navbar Start -->

<div class="container-fluid">
<div class="row border-top px-xl-5">
<div class="col-lg-3 d-none d-lg-block">
<h5 class="text-primary m-0"><a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none" data-toggle="collapse" href="#navbar-vertical" style="height: 67px; padding: 0 30px;">Courses</a></h5>

<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 9;">
<div class="navbar-nav w-100">
<div class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#">Python </a>

<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"><a class="dropdown-item" href="">Intermediate</a> <a class="dropdown-item" href="">Advanced</a> <a class="dropdown-item" href="">Masterclass</a></div>
</div>

<div class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#">R Programming </a>

<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"><a class="dropdown-item" href="">Intermediate</a> <a class="dropdown-item" href="">Advanced</a> <a class="dropdown-item" href="">Masterclass</a></div>
</div>
<a class="nav-item nav-link" href="">Microsoft Excel</a> <a class="nav-item nav-link" href="">Microsoft Access</a> <a class="nav-item nav-link" href="">Power BI</a> <a class="nav-item nav-link" href="">STATA</a> <a class="nav-item nav-link" href="">SPSS</a> <a class="nav-item nav-link" href="">SQL</a> <a class="nav-item nav-link" href="">SAS</a></div>
</nav>
</div>

<div class="col-lg-9">
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"><a class="text-decoration-none d-block d-lg-none" href=""> </a>

<h3 class="m-0"><a class="text-decoration-none d-block d-lg-none" href=""><span class="text-primary">X-Capital</span> </a></h3>

<h4><a class="text-decoration-none d-block d-lg-none" href="">Analytics</a></h4>
<a class="text-decoration-none d-block d-lg-none" href=""> </a><button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button"></button>

<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
<div class="navbar-nav py-0"><a class="nav-item nav-link" href="/home">Home</a> <a class="nav-item nav-link" href="/service">Services</a> <a class="nav-item nav-link" href="/about">About Us</a> <a class="nav-item nav-link" href="/teacher">Tutors</a> <a class="nav-item nav-link" href="/blog">Blog</a> 
                           <div class="nav-item dropdown">
                                <a href="/blog" class="nav-link dropdown-toggle active" data-toggle="dropdown">Blog</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/blogone" class="dropdown-item">Blog Grid</a>
                                    <a href="/blog" class="dropdown-item active">Blog Detail</a>
                                </div>
                            </div> <a class="nav-item nav-link" href="/apply">Apply</a></div> 
<a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="/apply">Enroll Now</a></div>
</nav>
</div>
</div>
</div>
<!-- Navbar End --><!-- Header Start -->

<div class="container-fluid page-header" style="margin-bottom: 90px;">
<div class="container">
<div class="d-flex flex-column justify-content-center" style="min-height: 300px">
<h3 class="display-4 text-white text-uppercase">Our Blogs</h3>

<div class="d-inline-flex text-white">
<p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>

<p class="m-0 text-uppercase">blogs</p>
</div>
</div>
</div>
</div>
<!-- Header End --><!-- Detail Start -->

<div class="container-fluid py-5">
<div class="container py-5">
<div class="row">
<div class="col-lg-8">
<div class="mb-5">
<h6 class="text-primary mb-3">Sept 24, 2023</h6>

<h1 class="mb-5">XYZ Data Analysis</h1>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/xyz.jpg" />
<p style="text-align: justify;">It is necessary to understand the demographical composition of the respondents. Among the demographical variable include age, gender, educational income level, and the associated monthly incomes of the respondents. A crosstab is a vital tool that dissects on these basic variables to understand the prevailing distributions. Therefore, the first step is to understand how our respondents are distributed along these categories.</p>

<p style="text-align: justify;">A Cross Tab Analysis on Gender and Age as the rows and Education level and monthly salaries as columns has the following outputs.</p>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/case processing summary.png" />
<p style="text-align: justify;">From the above summary, the total number of respondents, N = 300. There were no missing variables under Gender, Age, Education, and salary, hence the 100% response. Gender*Education</p>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/Crosstab.png" />
<p style="text-align: justify;">Out of the 300 respondents, a total of 151 (50.0333%) were females while149 (49.6667%) were males. statistically, there is no significant difference between the two gender lines. in terms of education, a total of 22 respondents had studied up to primary level. The number forms 0.0733% of the total respondents. Out of this category, 16 are males while 6 are males. A total of 92 reached the secondary school as their highest education level. 47 of this category are males while 45 are females. 30 of the total respondents have studied up to certificate level. This forms 0.1%. 59 of those included in the study had attained their Diplomas. 30 of the Diploma holders are males while 29 were females. 92 had attained their college degrees. Out of these, 43 were males while 49 were females. Finally, 5 respondents had attained other academic levels, for which 3 were males while 2 were females.</p>

<h3 class="mb-4">(a) Pearson R (Correlation)</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/symmetric measures.png" />
<p style="text-align: justify;">The Pearson correlation between gender and education is 0.72. This implies there exists a strong positive correlation between the two variables.</p>

<h3 class="mb-4">(b) Gender * Salary</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/gendercrosstab.png" />
<p style="text-align: justify;">Additionally, a total of 87 of the respondents earn below RM 1000, with 42 being males and 45 females. Also 54 of those included in the study earn between 1000 to1999. Out of this number 27 are males while 27 are females. 103 fall under 2000-2999. This number includes 50 male respondents and 53 female respondents. 42 earn between 3000-3999. While 6, 3, and 5 of the remaining respondents earn between 4000-4999, 5000-5999, and 6000 and above respectively. Out of the 5 people earning RM 6000 above, only one is a female while 4 are all males. Therefore, earning across the two gender lines are statistically equal except for the highest salaries, where males are likely to earn more compared to females.</p>

<h3 class="mb-4">(c) Age * Education</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/agecrosstab.png" />
<p style="text-align: justify;">Among the participants, majority with University degree as their highest educational are 92. In terms of their age distribution, 4 are below the age of 21. Majority of this group are falling between the ages of 21 to 30 years. Only 7 of degree holders are between the age of 41 and 50 years.</p>

<h3 class="mb-4">(d) Age * Salary</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/salarycrosstab.png" />
<p style="text-align: justify;">The above table summarizes the level of earnings in relation to the ages of the respondents. From the table, it is evident that majority earn between RM 2000-RM 2999, with a total of 103. This is followed by 87 people earning below RM 1000.</p>

<h3 class="mb-4" style="text-align: justify;">Understanding The Customers&rsquo; Reactions On The Status Of XYZ Business</h3>

<p style="text-align: justify;">Customer perception of a business&rsquo; operation is a vital statistic. Therefore, every business, including, XYZ should keep records on their organization&rsquo;s customer reactions to their employee&rsquo;s operations. some of these key variables included in the study are responsiveness of the employee to the customer demands (Responsive 11), confidence of the customers on XYZ employees&rsquo; code of conduct (Assurance 14), and the rate how these employees are ready to offer individual services to customers where necessary. Additionally, it is necessary to find out if there us tangible evidence to suggest that demographical dynamics such as gender and race has an influence on the customers&rsquo; point of view. Below are the summaries.</p>

<h3 class="mb-4">Gender * Responsive 11</h3>

<p style="text-align: justify;">Comparatively, majority of the respondents agree that XYZ employees are quick to respond to their needs. However, 87 of those questioned somewhat agree to this claim. 6 of the respondents strongly disagree to this statement. Out of the 6, 3 are male and 3 are females. From the below output, there is no significant difference across the gender line. The chi-square value of independence between the two variables is 0.429. Compared to the value of alpha, 0.05, we conclude that statistically, one&rsquo;s opinion on the XYZ responsiveness rate is depended on their gender.</p>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/responsivecrosstab.png" /> <img alt="Image" class="img-fluid rounded w-100 mb-4" src="img/chisquaretest.png" />
<h2 class="mb-4" style="text-align: justify;">Summary Statistics on Tangibles, Empathy, Satisfaction and Value</h2>

<h3 class="mb-4">Descriptives</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/descriptivestats.png" />
<p style="text-align: justify;">From the above output, the average tangles value is 5.2622, with a standard deviation of 1.1213. The minimum tangible value awarded is 1.75 while the highest is 7. The other parameter is reliability of the XYZ employees. Factors constituting reliability include promises, performing perfectly performing a task for the first time, and insisting on error-free records. Based in these factors, the minimum reliability value is 1.50 while the highest value is 7. The mean reliability rating is 5.1833 with a standard deviation of 1.2483.</p>

<p style="text-align: justify;">Also, necessary to capture is the employee&rsquo;s level of empathy. This is measured on the basis of various factors. These include provision of individual attention, equal and conducive operation hours among all their customers, and finally, XYZ Company clearly understand the needs of their employees. The minimum empathy value according to the study is 1.40 while the maximum is 7. The mean XYZ empathy rating is 4.5867 with a standard deviation of 0.7639. All these factors determine the levels of customer satisfaction. Every enterprise&rsquo;s goal is to keep high customer retention rate whole winning new ones. The least satisfied customer awarded XYZ Company 1.75 while the most satisfied customer awarded 7. The mean customer satisfaction rate for the organization is 5.0992, with a standard deviation of 1.10844.</p>

<h3 class="mb-4">Correlation Analysis</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/correlations.png" />
<p style="text-align: justify;">The above analysis showcases the Pearson pairwise correlation among the four variables. There is a strong positive correlation between Tangibles and customer satisfaction level. The Pearson correlation value is 0.809, with 0.000 p-values. This shows a strong positive correlation. Also, there is a moderate correlation between the Tangibles and the XYZ empathy ratings. The value is 0.57 a corresponding p-value of 0.000. This implies a strong positive correlation. Also, the correlation between Tangibles and XYZ&rsquo;s reliable is 0.617. There is a strong positive correlation of 7 between the organization&rsquo;s empathy and their customers&rsquo; satisfaction level. , the correlation between the organization&rsquo;s reliability and customer satisfaction level stands at 7.27. therefore from the above information, for the organization to retain more of its customers, the organization need to encourage their employees to be more reliable, empathetic, and invest more on their aesthetic appearances. The other critical statistic to consider is the covariance between the variables. For instance the covariance between Tangibles and reliability is 0.864.</p>

<h3 class="mb-4">Linear Regression Analysis</h3>

<p style="text-align: justify;">This form of analysis quantifies net effect of an independent variable on the dependent variable. There are basic assumptions that are made before proceeding with a linear regression model. First, variables involved should be linearly related. Secondly, the random error terms are normally distributed with a mean value of 0 and variance sigma squared. The dependent and independent variables are linearly related. For a case of the multiple linear regression models, the independent variable should have 0 correlations. Finally, homoscedasticity should be met.</p>

<h4 class="mb-4" style="text-align: justify;">(a) A Simple Linear Regression Analysis of Customer satisfac&not;tion against XYZ reliability</h4>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/coefficients.png" />
<p style="text-align: justify;">A simple linear regression model is of the form:</p>

<p style="text-align: justify;">y=&beta;0+ &beta;1X+e where:</p>

<p style="text-align: justify;">Y is the predicted or independent variable</p>
X is the predictor variable

<p></p>

<p style="text-align: justify;">&beta;0 is intercept value</p>

<p style="text-align: justify;">&beta;1 is the gradient</p>

<p style="text-align: justify;">e is the random error term</p>

<p style="text-align: justify;">In running a simple linear regression model of Satisfaction against the organization&rsquo;s reliability level, the model has the following coefficients.</p>

<p style="text-align: justify;">The model has an intercept value &beta;0 of 1.754 and a slope of &beta;1 of 0.645.</p>

<h4 class="mb-4">Interpretation</h4>

<p style="text-align: justify;">&beta;0 = 1.754 implies that at reliability 0, the level of customer satisfaction at XYZ enterprise is at 1.754.</p>

<p style="text-align: justify;">&beta;1 = 0.645, implies that a unit increase in the value of reliability ratings results into an average 0.645 increase in the level of customer satisfaction.</p>

<p style="text-align: justify;">Hence the model is as follows:</p>

<p style="text-align: justify;">Satisfaction (Y) = 1.754 + 0.645 (Reliability) + e.</p>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/modelsummary.png" />
<p style="text-align: justify;">One of the important statistic from the linear regression model is R. the amount of variability in the dependent variable explained by the model. The value of R for model is 0.727. This implies that 72.7% of the variability in customer satisfaction is explained by reliability. The corresponding p-value is 0.000. This implies that the model is appropriate at alpha 0.05.</p>

<h3 class="mb-4">The ANOVA Table</h3>
<img alt="Image" class="img-fluid rounded w-100 mb-4" src="/xcapital/img/anova.png" />
<p style="text-align: justify;">From the ANOVA table, the Regression Sum of Squares is 194.032. the corresponding Residual Sum of Squares is 173. 330 with 298 degrees of freedom. the F value from this analysis is 333.593. from the p- value, it is correct to conclude that the model is significant.</p>
</div>
<!-- Comment List-->

<div class="mb-5">
<h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">3 Comments</h3>

<div class="media mb-4"><img alt="Image" class="img-fluid rounded-circle mr-3 mt-1" src="/xcapital/img/elizabeth.jpg" style="width: 45px;" />
<div class="media-body">
<h6>Elizabeth Ouma<small><i>01 Oct 2023 at 12:00pm</i></small></h6>

<p style="text-align: justify;">I find this analysis highly informative, particularly in highlighting the strong correlations between tangibles, empathy, and reliability with customer satisfaction in XYZ Company. The clear presentation of statistical data, including mean values, standard deviations, and Pearson correlation coefficients, provides valuable insights into what drives customer satisfaction. This makes it a useful resource for understanding the impact of different business practices on customer experiences. Thank you Erick!</p>
<button class="btn btn-sm btn-secondary">Reply</button>

<div class="media mt-4"><img alt="Image" class="img-fluid rounded-circle mr-3 mt-1" src="/xcapital/img/erick.jpg" style="width: 45px;" />
<div class="media-body">
<h6>Erick Otieno<small><i>02 Oct 2023 at 2:00pm</i></small></h6>

<p style="text-align: justify;">You are most welcome.</p>
<button class="btn btn-sm btn-secondary">Reply</button></div>
</div>
</div>
</div>

<div class="media mb-4"><img alt="Image" class="img-fluid rounded-circle mr-3 mt-1" src="img/faith.jpg" style="width: 45px;" />
<div class="media-body">
<h6>Faith Munene <small><i>20 Dec 2023 at 6:00pm</i></small></h6>

<p style="text-align: justify;">From the comprehensive statistical analysis of XYZ Company, including the relationships between gender, age, education, salary, and factors like tangibles, reliability, empathy, and customer satisfaction, my relative follow question as a manager would be: &quot;How can my Company leverage the insights from the linear regression model and the Pearson correlation analysis to develop targeted strategies for improving customer satisfaction, especially focusing on the aspects of reliability and tangibles?&quot;</p>
<button class="btn btn-sm btn-secondary">Reply</button>

<div class="media mt-4"><img alt="Image" class="img-fluid rounded-circle mr-3 mt-1" src="img/erick.jpg" style="width: 45px;" />
<div class="media-body">
<h6>Erick Otieno<small><i>23 Dec 2023 at 4:00pm</i></small></h6>

<p style="text-align: justify;">Thank you Faith. In response to your question on how your company can use the insights from the linear regression model and Pearson correlation analysis to enhance customer satisfaction, several targeted strategies can be adopted. First, the strong correlation between reliability and customer satisfaction suggests a need for focused improvement in this area. You can implement comprehensive training programs aimed at improving the reliability of your services. This might include training staff to ensure accuracy, consistency, and timeliness in their tasks.</p>

<p style="text-align: justify;">Additionally, the significant correlation between tangibles and customer satisfaction highlights the importance of the physical aspects of service delivery. You can invest in upgrading your facilities, improving the quality of your physical resources, and ensuring that the tangible elements of your services are appealing and modern.</p>

<p style="text-align: justify;">Furthermore, the demographic analysis of gender, age, and education provides an opportunity to tailor services to different customer segments. For example, creating targeted marketing campaigns or customized service offerings based on these demographic insights could lead to higher satisfaction levels among diverse customer groups.</p>

<p style="text-align: justify;">Finally, continuous feedback mechanisms should be established to monitor the effectiveness of these strategies. Customer surveys, feedback forms, and other tools can be utilized to gather ongoing input from customers, ensuring that your company remains aligned with its needs and expectations.</p>

<p style="text-align: justify;">By focusing on these areas, your can leverage your data-driven insights to develop a more satisfying and engaging customer experience, ultimately leading to higher customer retention and business success. Hope this helps.</p>
<button class="btn btn-sm btn-secondary">Reply</button></div>
</div>

<div class="media mt-4"><img alt="Image" class="img-fluid rounded-circle mr-3 mt-1" src="img/faith.jpg" style="width: 45px;" />
<div class="media-body">
<h6>Faith Munene<small><i>23 Dec 2023 at 6:00pm</i></small></h6>

<p style="text-align: justify;">Thank you so Much! This is very enlightening.</p>
<button class="btn btn-sm btn-secondary">Reply</button></div>
</div>

<div class="media mt-4"><img alt="Image" class="img-fluid rounded-circle mr-3 mt-1" src="img/erick.jpg" style="width: 45px;" />
<div class="media-body">
<h6>Erick Otieno <small><i>23 Dec 2023 at 9:00pm</i></small></h6>

<p>Much Welcome.</p>
<button class="btn btn-sm btn-secondary">Reply</button></div>
</div>
</div>
</div>
</div>
<!-- Comment Form -->

<div class="bg-secondary rounded p-5">
<h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>

<form>
<div class="form-group"><label for="name">Name *</label> <input class="form-control border-0" id="name" type="text" /></div>

<div class="form-group"><label for="email">Email *</label> <input class="form-control border-0" id="email" type="email" /></div>

<div class="form-group"><label for="subject">Subject</label> <input class="form-control border-0" id="subject" type="text" /></div>

<div class="form-group"><label for="message">Message *</label><textarea class="form-control border-0" cols="30" id="message" rows="5"></textarea></div>

<div class="form-group mb-0"><input class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold" type="submit" value="Leave Comment" /></div>
</form>
</div>
</div>

<div class="col-lg-4 mt-5 mt-lg-0"><!-- Author Bio -->
<div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4"><img class="img-fluid rounded-circle mx-auto mb-3" src="img/erick.jpg" style="width: 100px;" />
<h3 class="text-primary mb-3">Erick Otieno</h3>

<h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">CEO X-Capital Analytics</h4>

<p class="text-white m-0" style="text-align: justify;">Hello there!, Erick as I, me, that is, strongly encourage everyone to embrace data analytics in our business operations in today&#39;s data-driven world. I believe that harnessing the power of data not only enhances decision-making but also drives innovation and efficiency, leading us towards greater success!</p>
</div>
<!-- Search Form -->

<div class="mb-5">
<form action="">
<div class="input-group"><input class="form-control form-control-lg" placeholder="Keyword" type="text" />
<div class="input-group-append"></div>
</div>
</form>
</div>
<!-- Category List -->

<div class="mb-5">
<h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>

<ul class="list-group list-group-flush">
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Data Analytics</a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Machine Learning</a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Business Intelligence</a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Data Collection</a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Artificial Intelligence </a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Monitoring &amp; Evaluation </a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Proposal Writing </a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Web Development </a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">Market Research </a> <span class="badge badge-primary badge-pill">--</span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center px-0"><a class="text-decoration-none h6 m-0" href="">X-Capital Institute </a> <span class="badge badge-primary badge-pill">--</span></li>
</ul>
</div>
<!-- Recent Post -->

<div class="mb-5">
<h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Posts</h3>
<a class="d-flex align-items-center text-decoration-none mb-3" href="/blog"><img alt="" class="img-fluid rounded" src="img/xyz.jpg" /> </a>

<div class="pl-3">
<h6 class="m-1"><a class="d-flex align-items-center text-decoration-none mb-3" href="/blog">XYZ Data Analysis</a></h6>
<a class="d-flex align-items-center text-decoration-none mb-3" href="/blog"><small>Sep 24, 2023</small> </a></div>
<a class="d-flex align-items-center text-decoration-none mb-3" href="/blog"> </a> <!--
                        <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                            <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                            <div class="pl-3">
                                <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                <small>Jan 01, 2050</small>
                            </div>
                        </a>
                        <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                            <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                            <div class="pl-3">
                                <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                <small>Jan 01, 2050</small>
                            </div>
                        </a>--></div>
<!-- Tag Cloud -->

<div class="mb-5">
<h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>

<div class="d-flex flex-wrap m-n1"><a class="btn btn-outline-primary m-1" href="">Machine Learning</a> <a class="btn btn-outline-primary m-1" href="">Web Development</a> <a class="btn btn-outline-primary m-1" href="">Marketing Research</a> <a class="btn btn-outline-primary m-1" href="">AI</a> <a class="btn btn-outline-primary m-1" href=""> Proposal Writing</a> <a class="btn btn-outline-primary m-1" href="">Business Consulting</a></div>
</div>
</div>
</div>
</div>
</div>
<!-- Detail End --><!-- Footer Start -->

<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
<div class="row pt-5">
<div class="col-lg-7 col-md-12">
<div class="row">
<div class="col-md-6 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>

<p>Egerton, Njoro, Nakuru</p>

<p>+254 768 650814</p>

<p>info@xcapital.co.ke</p>

<div class="d-flex justify-content-start mt-4"></div>
</div>

<div class="col-md-6 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Quick Links</h5>

<div class="d-flex flex-column justify-content-start"><a class="text-white mb-2" href="/service">Courses</a> <a class="text-white mb-2" href="/about">About Us</a> <a class="text-white mb-2" href="/teacher">Tutors</a> <a class="text-white mb-2" href="/blog">Our Blogs</a> <a class="text-white" href="/service">Services</a></div>
</div>
</div>
</div>

<div class="col-lg-5 col-md-12 mb-5">
<h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Subscribe to Our Newsletter</h5>

<p>Join our 150+ newsletter subscribers to get the latest in data science training, tips, and industry news straight to your inbox. Sign up now and transform data into decisions!</p>

<div class="w-100">
<div class="input-group"><input class="form-control border-light" placeholder="Your Email Address" style="padding: 30px;" type="text" />
<div class="input-group-append"><button class="btn btn-primary px-4">Sign Up</button></div>
</div>
</div>
</div>
</div>
</div>

<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
<div class="row">
<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
<p class="m-0 text-white">&copy; <a href="XCAPITAL.CO.KE">X-Capital Analytics</a>. All Rights Reserved. Designed by <a href="Surveg.com">Surveg LLC.</a></p>
</div>

<div class="col-lg-6 text-center text-md-right">
<ul class="nav d-inline-flex">
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Privacy</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Terms</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">FAQs</a></li>
	<li class="nav-item"><a class="nav-link text-white py-0" href="#">Help</a></li>
</ul>
</div>
</div>
</div>
<!-- Footer End --><!-- Back to Top --><!-- JavaScript Libraries --><script src="https://code.jquery.com/jquery-3.4.1.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script><script src="lib/easing/easing.min.js"></script><script src="lib/owlcarousel/owl.carousel.min.js"></script><!-- Contact Javascript File --><script src="mail/jqBootstrapValidation.min.js"></script><script src="mail/contact.js"></script><!-- Template Javascript --><script src="js/main.js"></script><script>
        // Plain JavaScript function to run when the document is ready
    document.addEventListener("DOMContentLoaded", function() {
    // Get the navbar by its ID
    var navbar = document.getElementById('navbar-vertical');

    // Get the initial top offset of the navbar
    var navbarOffsetTop = navbar.offsetTop;

    // Function to run when user scrolls
    window.onscroll = function() {
        // Check if the page has been scrolled down more than the navbar's initial position
        if (window.pageYOffset > navbarOffsetTop) {
            // If it has, hide the navbar
            navbar.style.display = 'none';
        } else {
            // If not, show the navbar
            navbar.style.display = '';
        }
    };
});

    </script></body>
</html>