<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap1.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <header>
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="left-content d-flex align-items-center">
                            <div class="logo">
                                <a href="/home"><h1>Xbase</h1></a>
                            </div>
                            <!-- Search Box -->
                            <form action="#" class="form-box">
                                <input type="text" name="Search" placeholder="Search courses..">
                                <div class="search-icon">
                                    <i class="ti-search"></i>
                                </div>
                            </form>
                        </div> 
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">              
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/ejournal">e-Journal</a>
                                        <ul class="submenu">
                                            <li><a href="/form">Post e-Journal</a></li>
                                            <li><a href="/form"> Post Blog</a></li>
                                            <!-- <li><a href="elements.html">Element</a></li> -->
                                        </ul>
                                    </li>
                                    <li><a href="/elearning">elearning</a></li>

                                    <!-- <li class="cart">
                                        <a href="#"><span class="flaticon-shopping-cart"></span></a>
                                    </li> -->
                                    <li>
                                        <a href="/login_blog" class="btn header-btn2">Sign In</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Hero area Start-->
        <div class="hero-area slider-area">
            <div class="hero-height2 hero-bg2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>E-Journal</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/ejournal">e-Journal</a></li> 
                                    </ol>
                                </nav>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    <h>SOON :)</h>
</body>
</html>